.body * {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

html {
    min-height: 100%;
}

.container {
    margin: 6em auto;
    width: 70%;
}

.container h1 {
    color: #1C6EA4;
}

.text-breaker {
    word-break: break-word;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #1C6EA4;
}

label .hasError {
    font-size: 15px;
    color: #c60b0b;
}

.feedback-text-submitted {
    text-align: center;
    font-size: larger;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer {
    text-align: center;
    margin-top: 20%;
}

/*------------------------------*/
/*---- GROUP ----*/
/*------------------------------*/
.container-group {
    margin: 6em auto;
    width: 50%;
}

.container-group * {
    padding: 1em;
}

.container-group h1 {
    padding-left: 0 !important;
    color: #1C6EA4;
    text-transform: uppercase;
    margin-top: -2em;
}

.container-group tbody td a {
    padding: 0;
}

/*------------------------------*/
/*---- SOLUTION ----*/
/*------------------------------*/
.solution {
    margin: 2em auto 0 auto;
    width: 50%;
    min-height: auto;
    background-color: #c7dffb;
    border: 1px solid #1C6EA4;
}

.solution h2 {
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    padding: 0.3em;
    margin-top: 0;
    margin-bottom: 0;
}

.solution-break-space {
    padding: 1em;
    white-space: break-spaces;
}

.sol-detail div {
    margin-left: 15%;
    width: 70%;
}

.container-details-solution {
    margin: 4em auto;
    display: flex;
    flex-direction: column;
}

.content-details-solution {
    margin-left: 25%;
}

.content-details-solution p strong {
    margin-right: 5px;
}

.content-details-solution p {
    font-size: 18px;
}

.content-details-solution h1 {
    color: #1C6EA4;
    font-size: 35px;
}

.content-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sol-center {
    margin-top: 2em !important;
}

.left-exercise-description {
    width: 250px;
    flex:1;
    position: relative;
    margin-left: 2em;
    margin-top: 0.3em;
}

.container-exc-sol {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 4em auto;
}

.center-info-table-sol {
    flex: 4;
    width: 50%;
    justify-content: center;
    margin: 0 3em 0 3em;
}

.center-info-table-sol h1 {
    color: #1C6EA4;
}

.rightContainer {
    flex: 1;
}

/*------------------------------*/
/*---- ADD SECTION ----*/
/*------------------------------*/
.addButton {
    margin-top: 1em;
    padding: 5px;
}

.addButton:hover {
    background-color: #1C6EA4;
    color: white;
}

.main-container-add {
    margin: 4em auto 0 auto;
    width: 30%;
}


.selector-add-user {
    margin: 0.8em 0 0 10%;
    align-items: start !important;
    font-size: 20px
}

.selector-add-user span {
    margin-right: 0.5em;
    font-size: 20px;
}

.selector-add-user select{
    font-size: 18px;
    text-transform: uppercase;
}

.container-add h1 {
    color: black !important;
}

.container-add {
    width: 100%;
    min-height: 300px;
    background-color: #c7dffb;
    border: 1px solid #1C6EA4;
    margin: -1px;
}

.container-add h1, .container-add h2 {
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    padding: 0.3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.content-add {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 20px;
}

.content-add textarea {
    min-width: 80%;
    font-family: Arial;
}

.content-add form {
    width: 100%;
}

.content-add form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-add input:not([type=submit]) {
    padding: 8px;
    margin-top: 1em;
    min-width: 80%;
}

.content-add input[type=submit] {
    margin-top: 3em;
    margin-bottom: 2em;
    padding: 4px 5px 4px 5px;
}

.content-add input[type=submit]:hover {
    background-color: #1C6EA4;
    color: white;
}

.content-details * {
    text-align: left;
    margin: 10px 0 10px 0;
    padding: 0;
}

.content-details {
    margin-bottom: 1.5em;
    padding-left: 0 !important;
}

.container-group table thead tr th:first-child {
    width: 60%;
}

.content-details p strong {
    margin-right: 5px;
}

.content-details p {
    font-size: 18px;
}

.content-details p:last-child {
    margin-top: 40px;
}

.content-details h1 {
    color: #1C6EA4;
    font-size: 35px;
}

.backButton button {
    display: inline-block;
    align-items: center;
    margin-top: 2em;
    padding: 6px;
    background: #1C6EA4;
    border-radius: 13%;
}

.backButton {
    margin: 0;
    padding: 0;
}

.backButton button a {
    color: white;
    background: #1C6EA4;
}

/*------------------------------*/
/*---- TABLE STYLE ----*/
/*------------------------------*/
table {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
}

table td, table.solutionTable th {
    border: 1px solid #AAAAAA;
    padding: 10px 5px;
}

table tr:nth-child(even) {
    background: #D0E4F5;
}

table thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
}

table thead th {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
table thead th:first-child {
    border-left: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 18px;
}

tr:nth-child(even) {
    background-color: #c7dffb;
}

td.index {
    width: 5%;
    text-align: center;
}

.action-th {
    width: 25%;
}

.td-action {
    text-align: center;
}

/*------------------------------*/
/*---- NAVIGATION SECTION ----*/
/*------------------------------*/
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #1C6EA4;
}